In [1]:
import pandas as pd
import numpy as np
import requests
import xml.etree.ElementTree as ET

In [2]:
scientists = pd.read_excel('DataScientists.xls')

In [3]:
scientists.head()

,name,country,institution,dblp,expertise
0,aaron elmore,united states,university of chicago,https://dblp.org/pers/e/Elmore:Aaron_J=.html,NaN
1,abdalghani abujabal,germany,amazon alexa,https://dblp.org/pers/a/Abujabal:Abdalghani.html,NaN
2,abdul quamar,united states,ibm research almaden,https://dblp.org/pers/q/Quamar:Abdul.html,NaN
3,abdulhakim qahtan,netherlands,utrecht university,https://dblp.org/pid/121/4198.html,NaN
4,abhijnan chakraborty,germany,max planck institute for software systems,https://dblp.org/pers/c/Chakraborty:Abhijnan.html,NaN

In [4]:
scientists.shape

(1220, 5)

In [5]:
duplicate_frame = pd.DataFrame(columns = scientists.columns)

for i in range(0, len(scientists[scientists.duplicated(subset='dblp')])):
    duplicate = scientists[scientists.duplicated(subset='dblp')].iloc[i]['dblp']
    small_frame = scientists[scientists['dblp'] == duplicate]
    duplicate_frame = pd.concat([duplicate_frame, small_frame])

In [6]:
duplicate_frame

,name,country,institution,dblp,expertise
7,abolfazl asudeh,united states,university of illinois at chicago,https://dblp.org/pid/04/7892.html,NaN
8,abolfazl asudeh,united states,university of michifan,https://dblp.org/pid/04/7892.html,NaN
15,alfons kemper,germany,technical university of munich,https://dblp.org/pid/k/AlfonsKemper.html,NaN
16,alfons kemper,germany,tu munich,https://dblp.org/pid/k/AlfonsKemper.html,NaN
24,alon halevy,united states,facebook,https://dblp.uni-trier.de/pers/h/Halevy:Alon_Y...,NaN
...,...,...,...,...,...
1200,zechao shang,united states,univesity of chicago,https://dblp.org/pers/s/Shang:Zechao.html,NaN
1209,zhongle xie,china,nus ai innovation and commercialisation center,https://dblp.org/pid/169/3419.html,NaN
1210,zhongle xie,china,zhejiang university,https://dblp.org/pid/169/3419.html,NaN
1216,zoi kaoudi,qatar,qatar computing research institute,https://dblp.org/pers/k/Kaoudi:Zoi.html,NaN
1217,zoi kaoudi,germany,tu berlin,https://dblp.org/pers/k/Kaoudi:Zoi.html,NaN

In [7]:
scientists.drop_duplicates(subset='dblp', inplace=True, ignore_index=True) #remove duplicates by url

In [8]:
scientists.shape

(1079, 5)

In [27]:
url = scientists.iloc[4]['dblp']
r = requests.get(url[:-4] + 'xml').text
root = ET.fromstring(r)

author = root.attrib['pid']

year_coauthor_dict = dict()
for i in range(0, len(root)): 
    
    if root[i].tag == 'r': #only look at article entries
        
        publish_work = root[i][0].attrib['key']
        publish_year = root[i][0].attrib['mdate'][:4] #year
        
        current_year_coauthor_list = []
        
        for j in range(0, len(root[i][0])):
            if root[i][0][j].tag == 'author': 
                current_year_coauthor_list.append(root[i][0][j].attrib['pid'])
        
        if publish_year not in year_coauthor_dict:
            year_coauthor_dict[publish_year] = current_year_coauthor_list
            
        else: year_coauthor_dict[publish_year] = year_coauthor_dict[publish_year] + current_year_coauthor_list
        
for year in year_coauthor_dict:
    year_coauthor_dict[year] = [year_coauthor_dict[year]]
        
year_coauthor_df = pd.DataFrame.from_dict(year_coauthor_dict, orient='index', columns = [author])
year_coauthor_df

                                               116/1678
2024  [349/0104, 141/4293, 116/1678, 67/370, 345/640...
2023  [188/5728, 116/1678, 06/900-1, m/AnimeshMukher...
2022  [48/10293, 73/10042, 116/1678, 141/9244, 57/49...
2021  [240/9044, 294/1305, 40/7987, g/PKrishnaGummad...
2020  [240/9044, 116/1678, 130/0373, g/PKrishnaGumma...
2019  [48/10293, 116/1678, 73/10042, 141/9244, 57/49...
2018  [116/1678, 116/1678, 230/4496, 52/6987, g/PKri...
2017  [116/1678, 48/3394, p/VenkataNPadmanabhan, 97/...

In [11]:
collab_network_list = []
problem_list = []

for i in range(0, len(scientists)):
    url = scientists.iloc[i]['dblp']    
    r = requests.get(url[:-4] + 'xml').text
    
    try:
        root = ET.fromstring(r)
    
    except:
        print(url) #problematic entries
        problem_list.append([root.attrib['pid'], url])
        continue
    
    author_pid = root.attrib['pid'] #figure out the pid of the author
    author_name = root.attrib['name']
    
    coauthors = []
    
    for j in range(0, len(root)): 
        if root[j].tag == 'r': #only look at article entries
            #print(root[i][0].attrib['key']) #article name
            for k in range(0, len(root[j][0])):
                if root[j][0][k].tag == 'author': #coauthors
                    #print(root[i][0][j].tag, "{0:<30}".format(root[i][0][j].text), 'pid: ' + root[i][0][j].attrib['pid'])
                    coauthors.append(root[j][0][k].attrib['pid'])
    
    coauthors = set(coauthors) #remove duplicates
    collab_network_list.append([author_name, author_pid, coauthors])

collab_network_csv = pd.DataFrame(collab_network_list, columns = ['author_name', 'author_pid', 'coauthors_list'])
problem_list_csv = pd.DataFrame(problem_list, columns = ['problem_pid', 'url'])

https://dblp.org/pid/39/1380.html
https://dblp.org/pers/hd/g/Gupta:Amit
https://dblp.org/pers/hd/m/Mukherjee_0001:Animesh
https://dblp.uni-trier.de/pers/c/Chakraborty:Anirban.html
https://dblp.org/pers/hd/p/Pal_0001:Arindam
https://dblp.uni-trier.de/pers/hd/y/Yang_0002:Bin
https://dblp.uni-trier.de/pers/hd/j/J=oacute=nsson_0001:Bj=ouml=rn_=THORN==oacute=r
https://dblp.uni-trier.de/pers/hd/g/Glavic:Boris
https://dblp.uni-trier.de/pers/hd/m/Mohan_0001:C=
https://dblp.org/pid/92/2769.html
https://dblp.org/pid/148/7268.html
https://dblp.org/pers/hd/c/Chen:Xiuying
https://dblp.org/pers/hd/z/Za=in:Choiru
https://dblp.org/pers/hd/y/Yu_0001:Cong
https://dblp.uni-trier.de/pers/hd/w/Wang:Daheng
https://dblp.org/pers/hd/p/P_0001:Deepak
https://dblp.uni-trier.de/pers/b/Barbosa:Denilson.html
https://dblp.org/pers/g/Georgakopoulos:Dimitrios.html
https://dblp.org/pers/hd/p/Papadias:Dimitris
https://dblp.org/pid/161/0102.html
https://dblp.uni-trier.de/pers/hd/k/Kim:Donghyun
https://dblp.org/pers/m/Mansour:Essam.html
https://dblp.uni-trier.de/pers/hd/s/Schuhknecht:Felix_Martin
https://dblp.org/pid/284/0968.html
https://dblp.org/pers/hd/s/Shroff:Gautam_M=
https://dblp.uni-trier.de/pers/hd/c/Cheng_0001:Gong
https://dblp.uni-trier.de/pers/hd/h/Helskyaho:Heli
https://dblp.org/pid/98/5721.html
https://dblp.org/pers/j/Jung:Hyungsoo.html
https://dblp.uni-trier.de/pers/p/Petrov:Ilia.html
https://dblp.org/pers/hd/l/Lee_0001:Jae=Gil
https://dblp.uni-trier.de/pers/hd/w/Wendt:James_B=
https://dblp.uni-trier.de/pers/hd/c/Choi:Jason_Ingyu
https://dblp.uni-trier.de/pers/hd/r/Rogers:Jennie
https://dblp.org/pers/hd/t/Tang_0005:Jian
https://dblp.org/pers/hd/w/Wang_0001:Jianmin
https://dblp.uni-trier.de/pers/hd/g/Gao_0004:Jing
https://dblp.uni-trier.de/pers/hd/p/Palotti:Jo=atilde=o_R=_M=
https://dblp.uni-trier.de/pers/hd/m/Mac=ecirc=do:Jos=eacute=_A=_F=_de
https://dblp.org/pers/hd/r/Romero:Julian
https://dblp.org/pers/hd/x/Xu_0001:Jun
https://dblp.uni-trier.de/pers/hd/y/Yang_0001:Jun
https://dblp.org/pers/h/Hui:Kai.html
https://dblp.uni-trier.de/pers/hd/z/Zeng_0002:Kai
https://dblp.org/pers/hd/z/Zheng_0001:Kai
https://dblp.org/pers/hd/l/Liu_0001:Kang
https://dblp.uni-trier.de/pers/hd/w/Wang_0001:Ke
https://dblp.org/pers/hd/z/Zou_0001:Lei
https://dblp.org/pers/hd/x/Xiong_0001:Li
https://dblp.uni-trier.de/pers/hd/c/Chen_0001:Liang
https://dblp.uni-trier.de/pers/hd/y/Yang_0005:Liu
https://dblp.org/pers/hd/e/Espinosa:Luis
https://dblp.org/pers/hd/b/Brambilla_0001:Marco
https://dblp.org/pers/w/Weidlich:Matthias.html
https://dblp.uni-trier.de/pers/hd/j/Jiang_0001:Meng
https://dblp.uni-trier.de/pers/hd/w/Wan:Mengting
https://dblp.uni-trier.de/pers/hd/n/Nikolic:Milos
https://dblp.uni-trier.de/pers/hd/z/Zhang_0006:Min
https://dblp.uni-trier.de/pers/hd/l/Liu_0018:Ming
https://dblp.uni-trier.de/pers/hd/k/Kumar_0001:Niraj
https://dblp.org/pers/hd/s/Sinha_0001:Nishant
https://dblp.uni-trier.de/pers/hd/z/Zhang_0002:Peng
https://dblp.org/pers/hd/h/Haas:Peter_J=
https://dblp.uni-trier.de/pers/hd/w/Wood:Peter_T=
https://dblp.uni-trier.de/pers/hd/c/Christmann:Philipp
https://dblp.org/pers/hd/l/Lu:Ping
https://dblp.org/pers/hd/p/P=:Prathosh_A=
https://dblp.org/pers/hd/z/Zhu_0001:Qiang
https://dblp.org/pers/hd/z/Zhang_0001:Qin
https://dblp.uni-trier.de/pers/hd/a/Ai:Qingyao
https://dblp.org/pers/hd/l/Luo_0001:Qiong
https://dblp.uni-trier.de/pers/hd/l/Le:Ran
https://dblp.org/pers/hd/s/Singh_0001:Richa
https://dblp.org/pers/hd/v/Vainshtein:Roman
https://dblp.org/pers/hd/y/Yan_0001:Rui
https://dblp.org/pers/z/Zhang:Ruqing.html
https://dblp.uni-trier.de/pers/hd/g/Ghosh_0001:Saptarshi
https://dblp.uni-trier.de/pers/hd/l/Liu:Shengchao
https://dblp.uni-trier.de/pers/hd/m/Ma_0001:Shuai
https://dblp.org/pers/hd/r/Roy_0002:Sudip
https://dblp.uni-trier.de/pers/hd/m/Maurya:Sunil_Kumar
https://dblp.uni-trier.de/pers/hd/p/Pothirattanachaikul:Suppanut
https://dblp.dagstuhl.de/pid/y/TingYu.html
https://dblp.uni-trier.de/pers/hd/l/Leroy_0001:Vincent
https://dblp.uni-trier.de/pers/hd/o/Oria:Vincent
https://dblp.org/pers/hd/z/Zhang_0003:Weinan
https://dblp.org/pers/hd/z/Zhao_0002:Xiang
https://dblp.org/pers/hd/z/Zhang_0002:Xiaofei
https://dblp.org/pers/hd/w/Wang_0001:Xiaolan
https://dblp.uni-trier.de/pers/hd/l/Liu_0020:Xin
https://dblp.uni-trier.de/pers/hd/x/Xin_0001:Xin
https://dblp.uni-trier.de/pers/hd/h/Han:Xu
https://dblp.org/pers/hd/l/Liu_0005:Xuan
https://dblp.uni-trier.de/pers/hd/l/Lin_0001:Xuemin
https://dblp.uni-trier.de/pers/hd/c/Cao_0011:Yang
https://dblp.uni-trier.de/pers/hd/c/Cao_0012:Yang
https://dblp.uni-trier.de/pers/hd/c/Chen_0001:Yi
https://dblp.uni-trier.de/pers/hd/f/Fang_0008:Yi
https://dblp.uni-trier.de/pers/hd/z/Zhang_0001:Ying
https://dblp.uni-trier.de/pers/hd/y/Yao_0013:Yuan
https://dblp.org/pers/hd/c/Chen_0001:Yubo
https://dblp.uni-trier.de/pers/t/Tao:Yufei.html
https://dblp.uni-trier.de/pers/hd/h/Huang:Zixian

In [12]:
collab_network_csv #lost 244 rows bruhh

,author_name,author_pid,coauthors_list
0,Aaron J. Elmore,75/9436,"{01/3996, 82/75, f/AlanDavidFekete, a/Divyakan..."
1,Abdalghani Abujabal,162/9092,"{57/4545, 61/11469, t/MartinTheobald, 70/8150,..."
2,Abdul Quamar,127/6195,"{54/4272, c/LauraChiticariu, f/AlanDavidFekete..."
3,Abdulhakim Ali Qahtan,121/4198,"{e/AKElmagarmid, 09/7444, 25/7045-12, 131/4202..."
4,Abhijnan Chakraborty,116/1678,"{58/657, 138/1229, 372/7472, 10/7062, 139/5123..."
...,...,...,...
971,Zi Huang,70/6862,"{117/5520, s/DiveshSrivastava, 217/2275, 73/39..."
972,Ziawasch Abedjan,38/8707,"{131/4767, 184/2435, 231/9857, 131/4202, 371/2..."
973,Zoi Kaoudi,65/1457,"{207/2074, m/IoanaManolescu, e/AKElmagarmid, 9..."
974,Zsolt IstvÃ¡n,50/10703,"{181/2612, 223/0854, 98/6277, 251/6665, 15/145..."
975,Zuohui Fu,146/6971,"{88/6765, 200/0318, 171/3642, 334/1219, 85/548..."

In [13]:
collab_network_csv.to_csv('collab_network_csv.csv')
problem_list_csv.to_csv('problem_list_csv.csv')